body{
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-image: url(/bat1.jpg);
    /* background-repeat: no-repeat; */
    background-position: fixed;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

#search-id{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    outline: none;
}

#search-button{
    padding: 11px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #4caf50;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

#search-button:hover{
    background-color: #3e8e41;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.result{
    margin-bottom: 60px;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
}

.result:hover img{
    transform: scale(1.05);
}

.result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.result a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #333;
    font-size: 18px;
    transition: .3s ease-in-out;
    background-color: #fff;
}

.result:hover a{
    background-color: rgba(0, 0, 0, 0.3);
}

#show-more{
    background-color: #008cba;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 50px auto;
    display: block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#show-more:hover{
    background-color: #2a7088;
}

@media screen and (max-width: 768px) {
    .result{
        width: 45%;
    }
}

@media screen and (max-width: 508px) {
    .result{
        width: 100%;
    }

    form{
        flex-direction: column;
    }

    input{
        margin-bottom: 20px;
    }
}